extends layout

block content
    .container
        if (user)
            p You are currently logged in as #{user.username}
            p You id #{user._id}
            a(href='/chat') Chat
            br
            a(href="admin/logout") Logout
