extends layout

block content
  h1.caption= title
  .container.white
    form(method='post' class='gd-form login' action='')
        input(type='text' required placeholder='Username' class='gd-input' name='login_username')
        input(type='password' required placeholder='Password' class='gd-input' name='login_password')
        button(type='submit' class='gd-button bt-blue') Login
