*, *:after, *:before {
    box-sizing: border-box;
}

html {
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

html, input {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
    word-wrap: break-word;
    padding-left: 5px;
}

.content {
    width: 100%;
    height: 100%;
    display: block;
}

.content #m {
    width: 100%;
    border: 5px solid #333;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 10px;
}
#messages {
  width: 100%;
  height: auto;
  padding: 0;margin: 0px;
}

ul li {
  display: block;
  color: #333;
  padding: 10px;
}
ul li:nth-child(n) {
  background: #ddd;
}
ul li:nth-child(2n) {
  background: #eee;
}
.time-create {
  font-size: 10px;
  color: #333;
}
